# Firebase-related files
# These files contain sensitive configuration information.
# They are unique to your project and should not be committed to Git.
GoogleService-Info.plist
google-services.json
