<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056869055055-fjt00pvlfs1iroqsndcs5p9anhpscupq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056869055055-fjt00pvlfs1iroqsndcs5p9anhpscupq</string>
	<key>API_KEY</key>
	<string>AIzaSyD-PTSVwdI2bl0cfaze_4OWdslw32HGC_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1056869055055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kantokittens.myapp</string>
	<key>PROJECT_ID</key>
	<string>kantokittensapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kantokittensapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056869055055:ios:1a113930cccc98858a483a</string>
	<key>DATABASE_URL</key>
	<string>https://kantokittensapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>